@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
.slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(181, 244, 253);
    width: 100%;
    overflow: hidden;

}

.slide-content{
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s;

}

.slide-content h1, span {
    font-size: 8rem;
    color: rgb(0, 0, 0);

}

.slide-content h1 {
    background: -webkit-linear-gradient(45deg,#64d0ff, #fc2eaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.slide-content.current{
    transform: translate(-50%, -50%) scale(1);
  
}


/* Media Query */


@media only screen and (max-width: 700px) {
 
    .slide-content h1, span {
        font-size: 5.5rem;
        color: rgb(0, 0, 0);
    
    }

    .slide-content{
      
        transform: translate(-50%, 15%) scale(0);
        
    }
    
  }